llm_config:
  base_url: https://api.deepseek.com/
  api_key: sk-your_deepseek_api_key_here
  model_name: deepseek-chat
  temperature: 0.7
  max_tokens: 8192
agent_config:
  max_iterations: 100
  max_retries: 3
  max_search_results: 10
mcp_config:
  mcpServers:
    amap-maps-streamableHTTP:
      transport: streamable_http
      enabled: false
      description: null
      env: null
      command: null
      args: null
      url: https://mcp.amap.com/mcp?key=your_amap_api_key_here
      headers: null
    jina-mcp-server:
      transport: streamable_http
      enabled: true
      description: null
      env: null
      command: null
      args: null
      url: https://mcp.jina.ai/v1
      headers:
        Authorization: Bearer jina_your_jina_api_key_here
a2a_config:
  a2a_servers: [ ]
